MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster>.mongodb.net/haiticonnect?retryWrites=true&w=majority&appName=<app-name>
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=1d
SUPER_ADMIN_EMAIL=superadmin@haiticonnect.ht
SUPER_ADMIN_PASSWORD=ChangeMeSuperAdmin123!
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin
PUBLIC_BASE_URL=https://haiticonnect-api.onrender.com
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
DIRECTOR_WHATSAPP=+50900000000
